.container {
	width: 705px;
	margin: 82px auto;
}

@media (max-width: 950px) {
  .container {
    width: 705px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 535px) {
  .container {
    width: 305px;
  }
}
